@model IPagedList<DocumentViewModel>

@{
    ViewBag.Title = "DisplayAll";
}

<h2>Adneothèque's content</h2>

<p>
    @Html.ActionLink("Insert a new document", "Create")<br />
    @Html.ActionLink("A document is back", "DocumentReturn")
</p>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "documentList"
    }))
{
    <input type="search" name="searchTerm" data-adneotheque-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Title" class="blueButtonInput" />
}

@Html.Partial("_Document", Model)
