@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top: 60px">
    <div class="col-md-4 box purple">
        <a class="homebtn" href="" ><img src="~/Content/ASSETS/icon_add.png" alt="add book" /><p>Latest added</p></a>
    </div>
    <div class="col-md-4 box cian">
        <a class="homebtn" href=""><img src="~/Content/ASSETS/icon_borrow.png" alt="borrow book" /><p>Latest borrowed</p></a>
    </div>
    <div class="col-md-4 box purple">
        <a class="homebtn" href=""><img src="~/Content/ASSETS/icon_mostread.png" alt="most read book" /><p>Most read</p></a>
    </div>
</div>